				</article>
				<!-- /.<%= getArticleClass('.'); %> -->
			</main>
		</div>
		<!-- /#content -->
		<footer class="l-footer" id="is-footer">
			<div class="l-footer__inner">
				<div class="l-footer__contain">
					<div class="l-footer__logo">
						<div class="l-footer__logo__col">
							<a href="./">
								<img class="--irodori" src="<%= getRelativePath('/images/common/irodori.png'); %>" alt="irodori">
							</a>
						</div>
						<div class="l-footer__logo__col">
							<a href="./" target="_blank">
								<img class="--cosme ie" src="<%= getRelativePath('/images/common/cosme.png'); %>" alt="cosme">
							</a>
							<a href="./" target="_blank">
								<img src="<%= getRelativePath('/images/common/funtoshare.png'); %>" alt="Fun to share">
							</a>
						</div>
					</div>
				</div>
			</div>
			<div class="l-footer__menu">
				<div class="l-footer__inner --edit ie">
					<ul class="l-footer__list">
						<li class="l-footer__item">
							<a href="#">取扱店舗</a>
						</li>
						<li class="l-footer__item">
							<a href="#">掲載メディア</a>
						</li>
						<li class="l-footer__item">
							<a href="#">特定商取引法</a>
						</li>
						<li class="l-footer__item">
							<a href="#">プライバシーポリシー</a>
						</li>
						<li class="l-footer__item">
							<a href="#">サイトマップ</a>
						</li>
						<li class="l-footer__item">
							<a href="#">会社案内</a>
						</li>
					</ul>
					<div class="l-footer__copyright">Copyright© 2017 Irodori CO.,LTD. All Rights Reserved.</div>
				</div>
			</div>
		</footer> 
		<!-- /#footer -->
	</div>
	<!-- /#all -->

	<script src="<%= getRelativePath('/js/jquery-3.6.0.min.js'); %>"></script>
	<script src="<%= getRelativePath('/js/script.js'); %>"></script>
	<% if(getPageId() == 'index') { %>  
		<script src="<%= getRelativePath('/js/slick.min.js'); %>"></script>
		<script src="<%= getRelativePath('/js/index.js'); %>"></script>
	<% } %>
</body>
</html>