<%- include('_config', { extend: {
	relativePath: '.',
	page: {
		id: 'index',
		title: 'TOPページ',
		description: 'TOPページです',
	}
}}); %><%- include('_header'); %>
	<section class="p-top__future">
		<div class="l-inner --narrow">
			<div class="p-top__future__info">
				<div class="p-top__future__title">
					<h2 class="c-heading1">
						髪の未来を<br>
						やさしさで変えていく。
					</h2>
				</div>
				<div class="p-top__future__content">
					<p class="c-text">
						髪は、肌以上にダメージが見えにくい。だから、mogansでは成分の一つひとつを見直し、<br>
						髪にも頭皮にも負担をかけない、ノンシリコン アミノ酸 ヘアシャンプーをつくりました。<br>
						パーマやカラー、ドライヤーの熱などで傷んだ髪と頭皮を驚くほどサラサラの美髪へと変えていけるのは、<br>
						植物に秘められたちからを最大限に引き出しているから
					</p>
					<p class="c-text">
						ラベンダーやジャスミンなど数種類の天然精油を贅沢にブレンドした<br>
						ラグジュアリーな香りに包まれて、植物のピュアなやさしさを感じてください。
					</p>
				</div>
			</div>
			<div class="p-top__future__function">
				<p class="p-top__future__logan">ノンシリコン アミノ酸 ヘアシャンプー</p>
				<span class="p-top__future__smooth">smooth ＆ garden</span>
				<div class="p-top__future__contain">
					<div class="c-functions">
						<h2 class="c-functions__heading">3つの働き</h2>
						<div class="c-functions__list">
							<div class="c-functions__item">
								<p class="cicle"><span>1</span></p>
								<div class="c-functions__content">
									<h3 class="c-functions__title">毛穴をふさがず、髪の芯に美髪成分を送り込む。</h3>
									<p class="c-functions__text">
										毛穴詰まりを引き起こしやすいシリコンなどのコーティング剤は使用せず、<br>
										頭皮環境をすこやかに整えながら髪の芯まで美髪成分を送り込みます。
									</p>
								</div>
							</div>
							<div class="c-functions__item">
								<p class="cicle"><span>2</span></p>
								<div class="c-functions__content">
									<h3 class="c-functions__title">髪と頭皮のための厳選成分で「驚くほどサラッと」した髪へ｡</h3>
									<p class="c-functions__text">
										髪と頭皮のために選び抜かれた19種類の植物由来アミノ酸成分を配合。<br>
										頭皮に必要なうるおいを残したまま、皮脂汚れを落としてサラサラの美髪へ
									</p>
								</div>
							</div>
							<div class="c-functions__item">
								<p class="cicle"><span>3</span></p>
								<div class="c-functions__content">
									<h3 class="c-functions__title">毛穴をふさがず、髪の芯に美髪成分を送り込む。</h3>
									<p class="c-functions__text">
										髪の主成分であるタンパク質は、約20種類のアミノ酸。髪と同じ弱酸性の<br>
										アミノ酸を高配合し、髪のダメージを内部から補修して輝きを与えます
									</p>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="p-top__future__detail">
					<div class="p-top__future__col">
						<div class="c-detail">
							<div class="c-detail__item --edit">
								<div class="c-detail__cloud --cloud1">
									<span class="text1">
										<img src="<%= getRelativePath('/images/index/text1.png'); %>" alt="text">
									</span>
									<img src="<%= getRelativePath('/images/index/cloud1.png'); %>" alt="cloud1">
								</div>
								<div class="c-detail__product">
									<div class="c-detail__product__name">
										ノンシリコン アミノ酸 ヘアシャンプー<br>
										〈スムース＆ガーデン〉
									</div>
									<div class="c-detail__product__note">
										non-silicon amino acid hair shampoo<br>
										<%= `<smooth&garden>` %>
									</div>
									<div class="c-detail__product__capacity">
										<span class="--ml">300mL</span>1,900円<span class="--tax">+税</span>
									</div>
									<a class="c-detail__product__btn">
										商品詳細はこちら
										<i class="fas fa-chevron-right"></i>
									</a>
								</div>
							</div>
						</div>
					</div>
					<div class="p-top__future__col --edit">
						<div class="c-detail">
							<div class="c-detail__item">
								<div class="c-detail__cloud --cloud2">
									<span class="text2">
										<img src="<%= getRelativePath('/images/index/text2.png'); %>" alt="text">
									</span>
									<img src="<%= getRelativePath('/images/index/cloud2.png'); %>" alt="cloud2">
								</div>
								<div class="c-detail__Img">
									<img src="<%= getRelativePath('/images/index/mongans01.png'); %>" alt="mongans01">
								</div>
							</div>
						</div>
					</div>
					<div class="p-top__future__col">
						<div class="c-detail">
							<div class="c-detail__item --edit">
								<div class="c-detail__cloud --cloud3">
									<span>
										<img src="<%= getRelativePath('/images/index/text.png'); %>" alt="text">
									</span>
									<img src="<%= getRelativePath('/images/index/cloud3.png'); %>" alt="cloud3">
								</div>
								<div class="c-detail__product">
									<div class="c-detail__product__name --edit">
										ノンシリコン アミノ酸 ヘアシャンプー<br>
										〈スムース＆ガーデン〉
									</div>
									<div class="c-detail__product__note --edit">
										non-silicon amino acid hair shampoo<br>
										<%= `<smooth&garden>` %>
									</div>
									<div class="c-detail__product__capacity --edit">
										<span class="--ml">300mL</span>1,900円<span class="--tax">+税</span>
									</div>
									<a class="c-detail__product__btn">
										商品詳細はこちら
										<i class="fas fa-chevron-right"></i>
									</a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<section class="p-top__careful">
		<div class="l-inner">
			<div class="p-top__careful__inner">
				<div class="p-top__careful__contain">
					<div class="c-infomation">
						<div class="c-infomation__title">美髪をはぐくむ毎日のベーシックケアセット</div>
						<div class="c-infomation__list">
							<div class="c-infomation__item">
								<div class="c-infomation__img">
									<img src="<%= getRelativePath('/images/index/mongas_double.png'); %>" alt="image mongas_double">
								</div>
								<div class="c-infomation__content">
									<div class="c-infomation__contain">
										<div class="c-infomation__name">
											<p>
												ノンシリコン アミノ酸 <br>
												ヘアシャンプー〈スムース＆ガーデン〉
											</p>
											<p>
												ノンシリコン アミノ酸 <br>
												ヘアコンディショナー〈スムース＆ガーデン〉
											</p>
										</div>
										<p class="c-infomation__capacity"><span class="--ml ieml">各300mL</span>3,800円<span class="--tax ietax">+税・送料（540円～）</span></p>
										<a class="c-infomation__btn">
											商品詳細はこちら
											<i class="fas fa-chevron-right"></i>
										</a>
									</div>
									<div class="c-infomation__logo">
										<img src="<%= getRelativePath('/images/index/logo_cosme.png'); %>" alt="logo @cosme">
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="p-top__careful__hair">
						<div class="p-top__careful__heading">
							<span class="p-top__careful__reason">パーマやカラー、紫外線による</span>
							<h2 class="c-heading1 --fs1">
								髪のダメージに要注意！
							</h2>
						</div>
					</div>
					<div class="p-top__careful__row">
						<div class="c-statistical">
							<div class="c-statistical__list">
								<div class="c-statistical__item">
									<div class="c-statistical__inner">
										<div class="c-statistical__img">
											<img src="<%= getRelativePath('/images/index/hair_damage.png'); %>" alt="hair_damage">
										</div>
										<p class="c-statistical__content">
											カラーリングやパーマ、ドライヤーの熱はもちろん、肌よりも多くの 紫外線
											を浴びる髪と頭皮は、想像以上にダメージが進行していることも。パサつ
											きや乾燥を引き起こし、老け見えの原因にもなる髪のダメージは、毎日の
											ヘアケアでいたわってあげることが大切です。
										</p>
									</div>
									<div class="c-statistical__reason">
										<div class="c-statistical__reason__col"></div>
										<div class="c-statistical__reason__col --two">
											<h3 class="c-statistical__reason__title">
												こんなお悩みありませんか
											</h3>
											<ul class="c-statistical__reason__list">
												<li class="c-statistical__reason__item">
													<span class="--iconTick ie"></span><span class="--reason ieReason">髪がバサつく</span>
												</li>
												<li class="c-statistical__reason__item">
													<span class="--iconTick ie"></span><span class="--reason ieReason">髪にツヤがない</span>
												</li>
												<li class="c-statistical__reason__item">
													<span class="--iconTick ie"></span><span class="--reason ieReason">頭皮トラブルがある</span>
												</li>
												<li class="c-statistical__reason__item">
													<span class="--iconTick ie"></span><span class="--reason ieReason">髪が細くたってきた</span>
												</li>
											</ul>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="p-top__careful__inner --two">
				<div class="p-top__careful__contain">
					<div class="c-content ">
						<div class="c-content__contain">
							<p class="c-content__mogans">
								もう髪を傷めない<br>
								mogans ノンシリコンアミノ酸へアシヤンプーで
							</p>
							<div class="c-content__logan">
								<h2 class="c-content__heading1">誰もがふりむく美人ヘアへ</h2>
							</div>
							<p class="c-content__direc">
								ノンシリコン アミノ酸 ヘアシャンプー＆コンディショナーは、<br>
								髪と頭皮のことを考えて選び抜かれた19種類の植物性アミノ酸を贅沢に配合。<br>
								使い続けるうちにダメージが内部から補修され、<br>
								触りたくなるほどサラサラの輝くような髪を育てます。
							</p>
							<div class="c-content__img">
								<img src="<%= getRelativePath('/images/index/background02.png'); %>" alt="誰もがふりむく美人ヘアへ">
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<section class="p-top__ingredient">
		<div class="l-inner --narrow">
			<div class="p-top__ingredient__title">
				<h2 class="c-heading1">
					19種類の植物由来アミノ酸成分で、<span>髪の芯から美しく</span>
				</h2>
			</div>
			<div class="p-top__ingredient__content">
				<div class="p-top__ingredient__col">
					<div class="p-top__ingredient__uses">
						スムース＆ガーデンが髪と頭皮にやさしく、<br>
						ハリ・コシのあるサラサラヘアーに導く秘密。
					</div>
					<div class="p-top__ingredient__detail">
						それは、植物由来成分を99％以上も配合したアミノ酸シャンプー<br>
						だから。髪の主成分であるタンパク質は、約20種類のアミノ酸で<br>
						構成されています。パワフルなちからを秘めた天然原料から<br>
						生まれた、髪と同じ弱酸性のアミノ酸を高配合することで、<br>
						髪のダメージを内部から補修。頭皮に必要なうるおいを<br>
						残したまま皮脂汚れをきちんと落とし、根元から立ち上がる<br>
						ふんわりとした美髪をはぐくみます。
					</div>
					<div class="p-top__ingredient__banner">
						<img src="<%= getRelativePath('/images/index/mongans_double02.png'); %>" alt="スムース＆ガーデンが髪と頭皮にやさしく、ハリ・コシのあるサラサラヘアーに導く秘密。">
					</div>
				</div>
			</div>
			<div class="p-top__ingredient__pickup">
				<div class="c-note --pickup ie">
					<div class="c-note__title --pickup ie">
						アミノ酸シャンプーと<br>
						アミノ酸配合シャンプーの違い
					</div>
					<div class="c-note__content --pickup">
						アミノ酸シャンプーと似て非なるものがアミノ酸配合シャンプーです。石油由来の高級アルコール系の界面活性剤に、少量のアミノ酸成分を入れたもので、強い脱脂力とタンパク質変成作用をもっています。髪や頭皮のためには全成分表示をチェックして、「ラウリル硫酸」「ラウレス硫酸」などが配合されていない本当のアミノ酸シャンプーを選ぶのがおすすめです。
					</div>
					<div class="c-note__pickUp">Pick up!</div>
				</div>
			</div>
			<div class="p-top__ingredient__plant">
				<div class="c-plant">
					<div class="c-plant__heading">
						<h2>
							代表的な植物由来成分
						</h2>
					</div>
					<div class="c-plant__list --three ie">
						<div class="c-plant__item">
							<div class="c-plant__item__img">
								<img src="<%= getRelativePath('/images/index/image_plant1.jpg'); %>" alt="ジャスミン油">
							</div>
							<h3 class="c-plant__title">ジャスミン油</h3>
							<p class="c-plant__text">
								心をリラックスさせる穏やかな香り。肌を<br>
								清潔に保ち、乾燥をやわらげて肌コンデ<br>
								ィションを整えます。
							</p>
						</div>
						<div class="c-plant__item">
							<div class="c-plant__item__img">
								<img src="<%= getRelativePath('/images/index/image_plant2.jpg'); %>" alt="ジャスミン油">
							</div>
							<h3 class="c-plant__title">ジャスミン油</h3>
							<p class="c-plant__text --edit1">
								エモリエント作用があり、乾燥や敏感に<br>
								傾きがちな頭皮をすこやかに保っていき<br>
								いきとした髪をはぐくみます。
							</p>
						</div>
						<div class="c-plant__item">
							<div class="c-plant__item__img">
								<img src="<%= getRelativePath('/images/index/image_plant3.jpg'); %>" alt="オリーブ果実油">
							</div>
							<h3 class="c-plant__title">オリーブ果実油</h3>
							<p class="c-plant__text --edit2">
								オレイン酸やビタミンEを豊富に含み、高<br>
								い保湿力でダメージヘアにツヤを与え、<br>
								指通りのなめらかな髪へ。
							</p>
						</div>
					</div>
					<div class="c-plant__list --four">
						<div class="c-plant__item">
							<div class="c-plant__item__img edit">
								<img src="<%= getRelativePath('/images/index/image_plant4.jpg'); %>" alt="ツバキ種子油">
							</div>
							<h3 class="c-plant__title">ツバキ種子油</h3>
							<p class="c-plant__text">
								頭皮に栄養を与えて髪に豊かなうるおいと弾力をもたらし、切れ毛や枝毛のないツヤ髪をはぐくみます。
							</p>
						</div>
						<div class="c-plant__item">
							<div class="c-plant__item__img edit">
								<img src="<%= getRelativePath('/images/index/image_plant5.jpg'); %>" alt="月見草油">
							</div>
							<h3 class="c-plant__title">月見草油</h3>
							<p class="c-plant__text">肌を保護するγ-リノレン酸や保湿成分のリノール酸が豊富。乾燥ダメージをケアしてすこやかな頭皮環境へ。</p>
						</div>
						<div class="c-plant__item">
							<div class="c-plant__item__img edit">
								<img src="<%= getRelativePath('/images/index/image_plant6.jpg'); %>" alt="アブラナ">
							</div>
							<h3 class="c-plant__title">アブラナ</h3>
							<p class="c-plant__text">髪と頭皮をうるおいのヴェールで包み込み、パサつきを抑えて芯からしなやかに弾む髪へと導きます。</p>
						</div>
						<div class="c-plant__item">
							<div class="c-plant__item__img edit">
								<img src="<%= getRelativePath('/images/index/image_plant7.jpg'); %>" alt="オレンジ果皮油">
							</div>
							<h3 class="c-plant__title">オレンジ果皮油</h3>
							<p class="c-plant__text">
								フレッシュで甘い香り。天然のフルーツ酸がキューティクルを整え、光を放つようなツヤとハリを与えます。
							</p>
						</div>
					</div>
				</div>
			</div>
			<div class="p-top__ingredient__pickup --edit">
				<div class="c-note --pickup ie">
					<div class="c-note__title --pickup ie">
						香りと作用の両面からアプローチ
					</div>
					<div class="c-note__content --pickup">
						ラベンダーやジャスミンなど数種類の天然精油を贅沢にブレンドすることで、<br>
						このうえなくラグジュアリーな香りが生まれました。髪を慈しみながら、花々の<br>
						やさしさに満ちたピュアフローラルが心ほぐれる優雅なバスタイムを演出します。
					</div>
					<div class="c-note__pickUp">Pick up!</div>
				</div>
			</div>
		</div>
	</section>
	<section class="p-top__formula">
		<div class="l-inner --narrow">
			<div class="p-top__formula__content">
				<span class="--change ie">
					髪へのやさしさを追求した
				</span>
				<h2 class="c-heading1 --fs1 ieTitle">12の<span>無添加処方</span></h2>
				<p class="c-text">
					油由来の界面活性剤はもちろん、シリコンや合成ポリマーといった<br>
					毛穴の詰まりの原因となるコーティング剤、パラベンなどの<span>保存料は一切使用していません。</span><br>
					mogansが求めたのは、<span>安心・安全な成分のみ。</span><br>
					<span>植物の恵みで</span>髪そのものの美しさを引き出し、<br>
					パーマやヘアカラーで<span>傷んだ髪と頭皮をすこやかなコンディションへと導きます。</span>
				</p>
			</div>
			<div class="p-top__formula__table">
				<div class="c-table">
					<div class="c-table__title">12の無添加</div>
					<div class="c-table__gird">
						<div class="c-table__gird__list">
							<div class="c-table__gird__item">石油由来界面活性剤</div>
							<div class="c-table__gird__item">石油由来の界面活性剤</div>
							<div class="c-table__gird__item">石油由来界面活性剤</div>
							<div class="c-table__gird__item">石油由来の界面活性剤</div>
							<div class="c-table__gird__item">石油由来界面活性剤</div>
							<div class="c-table__gird__item">DEA</div>
							<div class="c-table__gird__item">MEA</div>
							<div class="c-table__gird__item">TEA</div>
							<div class="c-table__gird__item">石油由来界面活性剤</div>
							<div class="c-table__gird__item">石油由来の界面活性剤</div>
							<div class="c-table__gird__item">石油由来界面活性剤</div>
							<div class="c-table__gird__item">石油由来の界面活性剤</div>
						</div>
					</div>
				</div>
			</div>
			<div class="p-top__formula__note">
				発ガン物質の可能性があるDEA、MEA、TEAも非配合。<br>
				<span>デリケートなベビーの肌にも安心してお使いいただけます。</span>
			</div>
		</div>
	</section>
	<section class="p-top__use">
		<div class="l-inner">
			<div class="p-top__use__inner --one ie">
				<div class="p-top__use__contain">
					<div class="p-top__use__content">
						<div class="p-top__use__heading">
							<h2 class="c-heading1">
								<img src="<%= getRelativePath('/images/index/how_to_use.png'); %>" alt="HOW TO USE">
							</h2>
						</div>
						<div class="p-top__use__text">
							<p class="c-text">
								なめらかな泡立ちのシャンプーととろみのあるテクスチャーで<br>
								有効成分を髪にしっかりと浸透させるコンディショナー。<br>
								正しい髪の洗い方とポイントを押さえて、輝くような美髪をはぐくみましょう。
							</p>
						</div>
						<div class="p-top__use__card">
							<img src="<%= getRelativePath('/images/index/list_card.png'); %>" alt="list_card">
						</div>
						<div class="p-top__use__note">
							<div class="c-note">
								<div class="c-note__title --edit">
									効果を最大限に引き出す<br>
									手軽なヘアパック。
								</div>
								<div class="c-note__content --edit">
									シャンプーとコンディショナーでヘアパックするのは、髪にアミノ酸の有効成分をじっくりと浸透させるため。植物由来の19種類のアミノ酸をはじめとする贅沢な天然成分が髪の内部からダメージを補修。濃密なうるおいで包み込み、ふんわりボリューム感のあるサラサラヘアーに仕上げます。また、シャンプーの泡パックには落としきれない頭皮や髪の汚れを浮き上がらせる効果も。頭皮環境を整えて、自信のもてる髪へと変えていきます。
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="p-top__use__inner --two ieTwo">
				<div class="c-content --edit">
					<div class="c-content__contain">
						<p class="c-content__mogans">
							もう髪を傷めない<br>
							mogans ノンシリコンアミノ酸へアシヤンプーで
						</p>
						<div class="c-content__logan">
							<h2 class="c-content__heading1">誰もがふりむく美人ヘアへ</h2>
						</div>
						<p class="c-content__direc">
							ノンシリコン アミノ酸 ヘアシャンプー＆コンディショナーは、<br>
							髪と頭皮のことを考えて選び抜かれた19種類の植物性アミノ酸を贅沢に配合。<br>
							使い続けるうちにダメージが内部から補修され、<br>
							触りたくなるほどサラサラの輝くような髪を育てます。
						</p>
						<div class="c-content__img">
							<img src="<%= getRelativePath('/images/index/background02.png'); %>" alt="誰もがふりむく美人ヘアへ">
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<div class="p-top__cosme">
		<div class="l-inner">
			<div class="p-top__cosme__logan">
				<p>モデルや芸能人も愛用しています。</p>
				<span class="icon-down"></span>
			</div>
			<div class="p-top__cosme__contain">
				<div class="p-top__cosme__title">
					<img src="<%= getRelativePath('/images/index/titile.png'); %>" alt="titile">
				</div>
				<div class="p-top__cosme__card">
					<div class="c-thumnail">
						<div class="c-thumnail__list">
							<div class="c-thumnail__item">
								<img src="<%= getRelativePath('/images/index/thumnail1.png'); %>" alt="image thumnail1">
							</div>
							<div class="c-thumnail__item --img2">
								<img src="<%= getRelativePath('/images/index/thumnail2.png'); %>" alt="image thumnail2">
							</div>
						</div>
						<div class="c-thumnail__list --one">
							<div class="c-thumnail__item --edit1">
								<img  src="<%= getRelativePath('/images/index/thumnail3.png'); %>" alt="image thumnail3">
							</div>
						</div>
						<div class="c-thumnail__list">
							<div class="c-thumnail__item --img3">
								<img src="<%= getRelativePath('/images/index/thumnail4.png'); %>" alt="image thumnail4">
							</div>
							<div class="c-thumnail__item --img4">
								<img src="<%= getRelativePath('/images/index/thumnail5.png'); %>" alt="image thumnail5">
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<section class="p-top__voice">
		<div class="l-inner --narrow">
			<div class="p-top__voice__title">
				<h2>
					<img src="<%= getRelativePath('/images/index/user_voice.png'); %>" alt="LINE UP">
				</h2>
			</div>
			<div class="p-top__voice__content">
				<p class="c-text">
					いち早くmogans ノンシリコン アミノ酸 ヘアシャンプー 〈スムース＆ガーデン〉を<br>
					お使いいただいたお客様の声をご紹介します。
				</p>
			</div>
			<div class="p-top__voice__card">
				<div class="c-card">
					<div class="c-card__list">
						<div class="c-card__item">
							<h3 class="c-card__heading">爽快な洗い心地でブローしやすい髪質に</h3>
							<div class="c-card__content">
								<p class="c-card__content__text">
									<span>
										<img src="<%= getRelativePath('/images/index/image_card1.png'); %>" alt="爽快な洗い心地でブローしやすい髪質に">
									</span>
									いい香りのするものが大好きなので、私
									にとって香りは重要ポイントです。テクス
									チャーはとろみがあり、たれ落ちることな
									く、地肌にしっかりと馴染ませられます。
									ふんわりしたキメ細かな泡立ちで、地肌
									がきれいに洗えたのを実感でき、すごく
									爽快感があります。洗い流しも素早くて
									気持ちがいい。翌日も痒みなど一切ない
									ですよ。コンディショナーも髪全体に馴染
									ませやすいテクスチャーで、こちらもいい香りです♪数分置いてからすすぐと、びっくりするほどさらさら??！
									ブローの時に真逆方向から熱を当てると簡単に根元が立ち上がり、ブローしやすい髪質にしてくれている効果が実感できました。
									<span class="clear"></span>
								</p>
							</div>
						</div>
						<div class="c-card__item">
							<h3 class="c-card__heading">サラサラの髪からふんわりよい香り♪</h3>
							<div class="c-card__content">
								<p class="c-card__content__text --edit">
									<span>
										<img src="<%= getRelativePath('/images/index/image_card2.png'); %>" alt="サラサラの髪からふんわりよい香り♪">
									</span>
									何とも女子力をアップさせてくれそうな濃
									厚な香りで癒されます。シャンプーはとて
									も豊かな泡立ちで、しっかりと頭皮まで
									意識して洗えます。泡切れがよく、洗い上
									がりの髪はしっかりと汚れが落ちて素髪
									といった感じながらも、ぱさつきやきし
									みは全くありません。コンディショナーは
									こっくりとしたテクスチャーでヘアマスク
									のよう。髪1本1本にしっかりと絡んでな
									じみ、洗い流している最中から、しっとりスルンとした髪を実感きます。ドライヤーで乾かしたあとは、毛先まで潤っていて、いつものパサパサ髪が嘘のよう。サラサラの髪からもふんわりとよい香りが広がります。翌朝のスタイリング時も髪がとてもまとまりました！
									<span class="clear"></span>
								</p>
							</div>
						</div>
						<div class="c-card__item">
							<h3 class="c-card__heading">植物オイルの成分で傷んだ髪も元気に！</h3>
							<div class="c-card__content">
								<p class="c-card__content__text">
									<span>
										<img src="<%= getRelativePath('/images/index/image_card3.png'); %>" alt="植物オイルの成分で傷んだ髪も元気に！">
									</span>
									今までドラッグストア販売のノンシリコン
									シャンプーをジプシーしてましたが、どう
									もしっくりきませんでした。こちらのシャン
									プーとコンディショナーは、自分の頭皮や
									傷んだ髪質にはぴったりのようで、とても
									まとまりが出てきました♪洗い流しに豊
									かなしっとり感を感じ、髪の傷んでごわつ
									く部分も植物オイルの成分で髪を元気に
									してくれるような仕上がりです。ポイント
									は、①シャンプー前にしっかりお湯で汚れを落とす。②シャンプー後はシャンプーの泡で泡パック。③トリートメントは5分以上おく。ちょっと面倒ですが、オススメのステップを何日か連続で取り入れてみたところ、髪を乾かした後の仕上がりがググッと変わってきました！
									<span class="clear"></span>
								</p>
							</div>
						</div>
						<div class="c-card__item">
							<h3 class="c-card__heading">たった一回の使用で髪質の変化を実感！</h3>
							<div class="c-card__content">
								<p class="c-card__content__text">
									<span>
										<img src="<%= getRelativePath('/images/index/image_card4.png'); %>" alt="たった一回の使用で髪質の変化を実感！">
									</span>
									毛先のパサつきがひどく、まとまりにくい
									髪質ですが、こちらを使い始めてからか
									なり改善されております！気に入ってい
									るのは、ドライヤーで乾かした後の髪のな
									めらかさです。自分の髪ではないくらい、
									サラサラでしなやかな髪になります。たっ
									た一回の使用でかなり変わるので、本当
									にこれなしでは冬の乾燥を乗り越えられ
									ない！と思えるアイテムです。また、香りも
									気に入っています。ハーブのような、お花畑のような優しい香りが続くので、リラックスできます。使い続けるうちに髪質がなめらかでサラサラに変わっていくので、カラーやパーマを繰り返した私の髪でもだいぶ手触りが良くなってきました。
									<span class="clear"></span>
								</p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<section class="p-top__line">
		<div class="l-inner --narrow">
			<div class="p-top__line__title">
				<h2>
					<img src="<%= getRelativePath('/images/index/line_up.png'); %>" alt="LINE UP">
				</h2>
			</div>
			<div class="p-top__line__content">
				<p class="c-text">
					1本1本にハリ、コシのあるサラサラヘアーを叶えるシャンプー＆コンディショナー。<br>
					今だけお得なキャンペーンも開催しています。
				</p>
			</div>
			<div class="c-product">
				<div class="c-product__list">
					<div class="c-product__item">
						<div class="c-product__img">
							<img src="<%= getRelativePath('/images/index/mongas01_big.png'); %>" alt="きめ細やかな泡立ちで頭皮をクリーンに">
						</div>
						<div class="c-product__content">
							<div class="c-product__contain">
								<h3 class="c-product__heading">
									<span>きめ細やかな泡立ちで</span>
									頭皮をクリーンに
								</h3>
								<div class="c-product__name">
									<p>
										ノンシリコン アミノ酸 ヘアコンディショナー<br class="u-onlyPc">
										〈スムース＆ガーデン〉
									</p>
									<p class="--nonSilicon">
										non-silicon amino acid hair shampoo <br class="u-onlyPc">
										<%= '<smooth&garden>' %>
									</p>
								</div>
								<p class="c-product__capacity"><span class="--ml">300mL</span>1,900円<span class="--tax">+税</span></p>
								<a class="c-product__btn">
									商品詳細はこちら
									<i class="fas fa-chevron-right"></i>
								</a>
							</div>
						</div>
					</div>
					<div class="c-product__item">
						<div class="c-product__img">
							<img src="<%= getRelativePath('/images/index/mongas02_big.png'); %>" alt="たっぷりの美容成分で毛先までサラツヤ">
						</div>
						<div class="c-product__content">
							<div class="c-product__contain">
								<h3 class="c-product__heading">
									<span>たっぷりの美容成分で</span>
									毛先までサラツヤ
								</h3>
								<div class="c-product__name">
									<p>
										ノンシリコン アミノ酸 ヘアコンディショナー<br class="u-onlyPc">
										〈スムース＆ガーデン〉
									</p>
									<p class="--nonSilicon">
										non-silicon amino acid hair shampoo <br class="u-onlyPc">
										<%= '<smooth&garden>' %>
									</p>
								</div>
								<p class="c-product__capacity"><span class="--ml">300mL</span>1,900円<span class="--tax">+税</span></p>
								<a class="c-product__btn">
									商品詳細はこちら
									<i class="fas fa-chevron-right"></i>
								</a>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="c-infomation">
				<div class="c-infomation__title">美髪をはぐくむ毎日のベーシックケアセット</div>
				<div class="c-infomation__list">
					<div class="c-infomation__item">
						<div class="c-infomation__img">
							<img src="<%= getRelativePath('/images/index/mongas_double.png'); %>" alt="美髪をはぐくむ毎日のベーシックケアセット">
						</div>
						<div class="c-infomation__content">
							<div class="c-infomation__contain">
								<div class="c-infomation__name">
									<p>
										ノンシリコン アミノ酸 <br>
										ヘアシャンプー〈スムース＆ガーデン〉
									</p>
									<p>
										ノンシリコン アミノ酸 <br>
										ヘアコンディショナー〈スムース＆ガーデン〉
									</p>
								</div>
								<p class="c-infomation__capacity"><span class="--ml ieml">各300mL</span>3,800円<span class="--tax ietax">+税・送料（540円～）</span></p>
								<a class="c-infomation__btn">
									商品詳細はこちら
									<i class="fas fa-chevron-right"></i>
								</a>
							</div>
							<div class="c-infomation__logo">
								<img src="<%= getRelativePath('/images/index/logo_cosme.png'); %>" alt="logo @cosme">
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="c-infomation">
				<div class="c-infomation__title">まとめ買いにぴったりな2 本セット</div>
				<div class="c-infomation__list --twoProducts --tab ie">
					<div class="c-infomation__item">
						<div class="c-infomation__img --twoProducts">
							<img src="<%= getRelativePath('/images/index/mongas_double01.png'); %>" alt="ノンシリコン アミノ酸 ヘアシャンプー〈スムース＆ガーデン〉">
						</div>
						<div class="c-infomation__content --twoProducts">
							<div class="c-infomation__contain --twoProducts">
								<div class="c-infomation__name --twoProducts">
									<p>
										ノンシリコン アミノ酸 ヘアシャンプー<br>
										〈スムース＆ガーデン〉
									</p>
								</div>
								<p class="c-infomation__capacity --twoProducts ie"><span class="--ml ieml">300mL×2 本</span>3,800円<span class="--tax ietax">+ 税</span></p>
								<a class="c-infomation__btn --twoProducts">
									商品詳細はこちら
									<i class="fas fa-chevron-right"></i>
								</a>
							</div>
						</div>
					</div>
					<div class="c-infomation__item">
						<div class="c-infomation__img --twoProducts">
							<img src="<%= getRelativePath('/images/index/mongas_double02.png'); %>" alt="ノンシリコン アミノ酸 ヘアシャンプー〈スムース＆ガーデン〉">
						</div>
						<div class="c-infomation__content --twoProducts">
							<div class="c-infomation__contain --twoProducts">
								<div class="c-infomation__name --twoProducts">
									<p>
										ノンシリコン アミノ酸 ヘアシャンプー<br>
										〈スムース＆ガーデン〉
									</p>
								</div>
								<p class="c-infomation__capacity --twoProducts ie"><span class="--ml ieml">300mL×2 本</span>3,800円<span class="--tax ietax">+ 税</span></p>
								<a class="c-infomation__btn --twoProducts">
									商品詳細はこちら
									<i class="fas fa-chevron-right"></i>
								</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
<%- include('_footer'); %>
